global:
  cattle:
    psp:
      enabled: false # disable for k8s/k3s >= 1.25

# replicas: 3 # default is 3

hostname: rancher.{{DOMAIN}}

bootstrapPassword: p4nc4K3s

ingress:
  tls:
    source: secret # literally 'secret'
  extraAnnotations:
    "cert-manager.io/cluster-issuer": letsencrypt-production
