# Access URL and credentials for Proxmox, required by proxmox_qemu_vm
proxmox_settings = {
  api_url = "https://<proxmox_server>:8006/api2/json",
  token_id = "terraform-prov@pve!api",
  token_secret = "<access_token_secret>"
}

# Optional version specification for K3s to use
# Versions are available on the releases page for k3s https://github.com/k3s-io/k3s/releases
# k3s_version = "v<release>"

# Must have a passwordless SSH keypair available for use
# Terraform uses this for remote-exec provisioner
ssh_private_key_path = "~/.ssh/terraform_proxmox_ssh_key_nopassword"
ssh_public_key_path  = "~/.ssh/terraform_proxmox_ssh_key_nopassword.pub"

# Should match IMAGE_TEMPLATE_NAME set earlier
# template_name = "<my_image_template>"

# Randomly generate a long value
# Example: uuidgen | tr -d '-'
# k3s_token = "<my_token>"

# Optional override to change the system time zone from UTC
# Listing here: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# system_timezone = "America/Los_Angeles"

# Use these to control which VMIDs the new VMs get
# control_start_vmid = 300
# worker_start_vmid = 310

# The full set of Proxmox nodes to deploy to
# proxmox_nodes = [
#   "set",
#   "of",
#   "nodes"
# ]

# Uncomment the following override to manually set your control plane node count.
# Defaults to the largest odd number up to the number of Proxmox nodes available.
# control_plane_node_count = 1

# Set to the number of worker nodes that you want.
# worker_node_count = 3

# Set to the IP address you want to access the control-plane via, e.g. kube-control
control_plane_vip = "<my_network_vip>"

# Set the IP address range that is assigned to MetalLB
metal_lb_ip_range = "<ip_start>-<ip_end>"

# Control Plane Nodes
# control_network = {
#   dns = "<local_dns>"
#   dhcp = false
#   tag = <vlan_id>
#   network = "<my_network>/24"
#   first_host = 10
# }

# control_vm = {
#   cores = 4
#   disk_gb = 20
#   memory = 6144
#   storage = "ceph"
# }

# Worker Nodes
# worker_network = {
#   dns = "<local_dns>"
#   dhcp = false
#   tag = <vlan_id>
#   network = "<my_network>/24"
#   first_host = 20
# }

# worker_vm = {
#   cores = 2
#   disk_gb = 40
#   memory = 12288
#   storage = "ceph"
# }
